.card {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid red;
  border-radius: 10%;
  font-size: 1.6rem;
  font-weight: bolder;
}

@keyframes open {
  from {
    background-color: gray;
    transform: rotateY(180deg);
  }
  to {
    background-color: lemonchiffon;
    transform: rotateY(0deg);
  }
}

@keyframes close {
  from {
    background-color: lemonchiffon;
    transform: rotateY(180deg);
  }
  to {
    background-color: gray;
    transform: rotateY(0deg);
  }
}

.closed {
  background: gray;
  animation-name: close;
  animation-duration: 1s;
}

.opened {
  background-color: lemonchiffon;
  animation-name: open;
  animation-duration: 1s;
}

.matched {
  background-color: #ccf085;
}

@media screen and (max-width: 450px) {
  .card {
    width: 60px;
    height: 60px;
  }
}
