.card {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid red;
  background: gray;
  border-radius: 10%;
  font-size: 1.6rem;
  font-weight: bolder;
}

.opened {
  background-color: lemonchiffon;
}

.matched {
  background-color: #ccf085;
}

@media screen and (max-width: 450px) {
  .card {
    width: 60px;
    height: 60px;
  }
}
