<div class="score-panel">
  <p>
    Moves: <span class="number">{{ getMovesWithPadding() }}</span>
  </p>
  <p>
    Secs: <span class="number">{{ getTickWithPadding() }}</span>
  </p>
  <button (click)="reset()">R</button>
</div>

<div class="card-container">
  <app-card
    *ngFor="let card of cards; let i = index"
    (click)="openCard(i, card)"
    [card]="card"
    [opened]="opened.includes(i)"
    [matched]="matched.includes(card)"
    [i]="i"
  ></app-card>

  <div *ngIf="done" class="done"><p>GAME END</p></div>
</div>
